/* You can add global styles to this file, and also import other style files */

.inp-fix {
  width: 100%;
}

.error-field {
  color: red;
}

.error-field .inp-fix {
  border-color: red !important;
}
