
<!-- Header -->
<div class="header" role="banner">
  <span class="header-text">BlueBat Travel Agency</span>
</div>

<div class="menu-wrap">
  <nav>
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/" routerLinkActive="active" class="menu-item-link">Catalog</a>
      </li>
      <li class="menu-item" *ngIf="!authService.IsAuthenticated()">
        <a routerLink="/login" routerLinkActive="active" class="menu-item-link">Log in</a>
      </li>
      <li class="menu-item" *ngIf="authService.IsAuthenticated()">
        <a routerLink="/logout" routerLinkActive="active" class="menu-item-link">Log out</a>
      </li>
    </ul>
  </nav>
</div>

<div class="row-main">
  <router-outlet></router-outlet>
</div>
