<div *ngIf="!created">
  <form
    [formGroup]="loginForm">
  <input
    formControlName="username"
  >
  <input
    formControlName="password"
    type="password"
  >
    <app-button
      label="LOGIN"
      [(state)]="submitState"
      (click)="onClick()"
    ></app-button>
    <app-infobox  *ngIf="error" [state]="InfoboxStateEnum.error">
      <p>
        {{error.status}}: {{error.message}}
      </p>
    </app-infobox>
    <app-infobox  *ngIf="loginAttempt" [state]="InfoboxStateEnum.error">
      <p>
        Invalid nickname or password
      </p>
    </app-infobox>
  </form>
</div>

<div *ngIf="created">
  <div class="success">
    <p class="success-icon">✓</p>
    <p>
      Authentication was successful!
    </p>
  </div>
</div>
