<div *ngIf="!created">
  <form
    [formGroup]="loginForm">
    <p>
      Nickname:
      <input
        formControlName="username"
      >
    </p>
    <p>
      Password:
      <input
        formControlName="password"
        type="password"
      >
    </p>
    <app-button
      label="LOGIN"
      [(state)]="submitState"
      (click)="onClick()"
    ></app-button>
    <app-infobox  *ngIf="error" [state]="InfoboxStateEnum.error">
      <p>
        {{error.status}}: {{error.message}}
      </p>
    </app-infobox>
    <app-infobox  *ngIf="loginAttempt" [state]="InfoboxStateEnum.error">
      <p>
        Invalid nickname or password
      </p>
    </app-infobox>
  </form>
</div>

<app-infobox *ngIf="created" [state]="InfoboxStateEnum.success">
  <p>
    Authentication was successful!
  </p>
</app-infobox>
