<h3>Catalog of Trips</h3>

<div class="catalog">
  <br />

  <table style="width:100%" class="greyGridTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Destination</th>
      <th>Current price</th>
      <th>Link</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let trip of trips">
      <td>{{trip.name}}</td>
      <td>{{trip.dateFrom.toLocaleDateString()}}</td>
      <td>{{trip.dateTo.toLocaleDateString()}}</td>
      <td>{{trip.destination}}</td>
      <td>{{trip.currentPrice}}</td>
      <td> <a routerLink="/trip-detail" routerLinkActive="active" [state]="{ tripId: trip.id }">link to detail</a></td>
    </tr>
    </tbody>
  </table>
</div>

<a routerLink="/trip-create" routerLinkActive="active" *ngIf="authService.IsAdmin()">Create trip</a>


