<div *ngIf="!created">
  <h3>Reservation for {{trip.name}}</h3>

  <div class="form">
    <span>Select excursions: </span>
    <br />
    <div *ngFor="let excursion of trip.excursions">
      <input
        class="form-checkbox"
        type="checkbox"
        (click)="setExcursion($event, excursion)"
      >
      <span>{{excursion.name}}</span>
    </div>

    <p>Overall price: {{price}}</p>

    <app-infobox *ngIf="error" [state]="InfoboxStateEnum.error">
      <p>
        {{error.status}}: {{error.message}}
      </p>
    </app-infobox>

    <app-button
      label="SEND"
      [(state)]="submitState"
      (click)="onClick()"
    ></app-button>
  </div>
</div>

<div *ngIf="created">
  <div class="success">
    <p class="success-icon">✓</p>
    <p>
      Authentication was successful!
    </p>
  </div>
</div>

<app-infobox *ngIf="created" [state]="InfoboxStateEnum.success">
  <p>
    Your reservation was successfully created!
  </p>
</app-infobox>
